/* body {
    background-image: url("station.jpg");
    background-size: cover;
    font-family: -apple-system, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;    
}
h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {

    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    border-radius: 3px;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    background-color: #4CAF50;

}

#increment-btn:hover {
    background: darkred;
}

#save-btn:hover {
    background: darkblue;
} */

